.problems-about-connector {
  height: 70%;
  top: 134px;
  position: absolute;
  left: 18px;
  z-index: -1;

  @screen md {
    top: 74px;
  }
}

.solutions-about-connector {
  height: 70%;
  top: 172px;
  position: absolute;
  left: 18px;
  z-index: -1;

  @screen md {
    top: 88px;
  }
}

.squabs-background {
  transform: rotate(4.36deg);
  border-radius: 60px;
  border: 6px solid white;
}

.squabs-background:hover {
  @apply bg-[#CCF5E1];
  border: 0;
}

.squab-detail {
  padding-top: 180px;
}

.squab-detail:hover {
  .squabs-background {
    @apply bg-[#CCF5E1];
    border: 0;
  }
}

.our-audience {
  background-image: url("../assets/images/about-audience-bg.png");
  background-size: cover;
}

.the-team {
  background-image: url("../assets/images/slanted-bg-green.png");
  background-size: cover;

  padding-top: 393px;
  padding-bottom: 393px;
}

.problems {
  background-image: url("../assets/images/about-problems-bg.png");
}

.solutions {
  background-image: url("../assets/images/about-solutions-bg.png");
}

.who-we-are {
  background-image: url("../assets/images/about-who-we-are-bg.png");
}

.goal {
  background-image: url("../assets/images/about-goal-bg.png");
}
